<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDDRISU ABDUL RAZAK IDDRISU - Portfolio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
        <p>Hi, I'm <strong>Iddrisu Abdul Razak</strong>. a passionate web developer and software engineer. I specialize in DevOps Engineering, Data Analytics and full-stack development with Go and JavaScript.</p>
        <img src="/static/images/profile.jpg" alt="Your photo" style="max-width: 200px; border-radius: 50%;">
        <nav>
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="about">
        <h2>About Me</h2>
        <p>I am an enthusiastic Computer Science student and DevOps bootcamp graduate with a passion for Software
            Development, cloud infrastructure, automation, and CI/CD practices. Adept at using industry-standard tools
            such as AWS, Docker, kubernetes and Terraform to streamline operations and enhance development
            workflows. Eager to apply academic knowledge and bootcamp skills to real-world Software engineering and
            DevOps challenges. Here's a brief overview of my skills:</p>
        <ul>
            <li><strong>Programming Languages:</strong> R, SQL, Python, Shell Scripting</li>
            <li><strong>Cloud Platform:</strong> AWS</li>
            <li><strong>Databases:</strong> PostgreSQL, MongoDB</li>
            <li><strong>Tools:</strong> Docker, Kubernetes, Git, GitHub Actions</li>
        </ul>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <p>Here are some of my recent projects:</p>
        <ul>
            <li><a href="https://github.com/Iddrisu08/Portfolio-app" target="_blank">Go Portfolio App</a> - A full-stack web application built with Go, showcasing my portfolio and projects.</li>
            <li><a href="https://github.com/Iddrisu08/vpc-terraform-github-actions" target="_blank">Cloud Infrastructure Automation and Provisioning</a> - Infrastructure Automation and Provisioning with Terraform and GitHub Actions.</li>
            <li><a href="https://github.com/Iddrisu08/project3" target="_blank">Project 3</a> - A description of project 3.</li>
        </ul>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>You can reach me at <a href="iddrisrazak2017@gmail.com">iddrisrazak2017@gmail.com</a>.</p>
    </section>

    <footer>
        <p>&copy; 2025 Iddrisu Abdul Razak</p>
    </footer>

</body>
</html>


